name: Remio Home Docker Image CI

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/AT13xe/remio-home
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          push: false
          platforms: |
            linux/arm64
            linux/amd64
            linux/arm/v7
            linux/arm/v6
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            VERSION=${{ github.ref_name }}