name: Remio Home Docker Image CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    if: contains(github.event.head_commit.message, 'v')

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract version from commit message
        id: version
        run: |
          VERSION=$(echo "${{ github.event.head_commit.message }}" | grep -oE 'v[0-9]+\.[0-9]+\.[0-9]+' || echo "latest")
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/AT13xe/remio-home
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.version.outputs.VERSION }}

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          push: false
          platforms: |
            linux/amd64
            linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            VERSION=${{ steps.version.outputs.VERSION }}