name: Remio Home Docker Image CI
on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          push: false
          platforms: |
            linux/arm64
            linux/amd64
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}
          build-args: |
            VERSION=${{ github.ref_name }}
